<!DOCTYPE html>
<html ng-app="hrApp">
<head>
<!--   
https://openreferral.org
Human Service Data Specification HSDS
http://about.auntbertha.com/openeligibility https://github.com/auntbertha/openeligibility/blob/master/taxonomy
joan 470 0917     hillary: 519 0574 
http://api.helphubsac.org/admin/sign_in

ohanna's taxonomy  (the openeligibility taxonomy)
https://github.com/codeforamerica/ohana-api/blob/master/data/sample-csv/taxonomy.csv
-->
<meta charset="utf-8">
<meta name="viewport"	content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="stylesheet"	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<link rel="apple-touch-icon" sizes="114x114" href="/SacSOS-Favicon_114x114.png" />
<link rel="shortcut icon" type="image/png" href="/favicon.png" />

<title>Sac SOS</title>

<!-- Styles -->
<!-- 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/framework7/1.3.1/css/framework7.ios.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/framework7/1.3.1/css/framework7.ios.colors.min.css">
-->
<link rel="stylesheet"	href="https://cdnjs.cloudflare.com/ajax/libs/framework7/1.3.1/css/framework7.ios.css">
<!-- link rel="stylesheet"	href="https://cdnjs.cloudflare.com/ajax/libs/framework7/1.3.1/css/framework7.ios.colors.min.css"-->
<link rel="stylesheet"	href="css/sacsos.css">




<link rel="stylesheet" href="css/main.css">

<!-- Scripts -->
<script
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC3ays483Ixy2Gr76BAvjGZBrls4j6ZOUI"></script>
<!-- async defer &callback=aaa -->

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
<script type="text/javascript"	src="https://cdnjs.cloudflare.com/ajax/libs/framework7/1.3.1/js/framework7.min.js"></script>
    <script src="//code.angularjs.org/1.4.7/angular-sanitize.js"></script>

<script type="text/javascript" src="js/config.js"></script>
<script type="text/javascript" src="js/service/InitService.js"></script>
<script type="text/javascript" src="js/service/DataService.js"></script>
<script type="text/javascript" src="js/service/MapService.js"></script>
<script type="text/javascript"	src="js/controller/IndexPageController.js"></script>
<script type="text/javascript"	src="js/controller/DetailPageController.js"></script>
<script type="text/javascript"	src="js/controller/ReviewPageController.js"></script>
<script type="text/javascript"	src="js/controller/FavoritesPageController.js"></script>
<script type="text/javascript"	src="js/controller/FrontPageController.js"></script>
<!--
<style>
.goog-te-banner-frame.skiptranslate {
	display: none !important;
}

body {
	top: 0px !important;
}


.button-green {
	background-color: #009900 !important;
} /*  #77c043  */
.button-turqois {
	background-color: #00aae8 !important;
}
</style -->

</head>
<body class=" layout-darkg">
	<!-- class="theme-green" -->

	<div class="statusbar-overlay"></div>
	
	<!-- panel-overlay -->
	<div class="panel-overlay"></div>
	
	<!-- left panel -->
	<div class="panel panel-left panel-cover" style="backgro__und: #efeff4;">
		<!--  #efeff4   side panels left -->
		<div class="content-block" >

			<div id="panel_emergency" class="paneldiv">
			    <div class="content-block-title" >Emergency</div>
			    <div class="content-block inset"> <div class="content-block-inner">
				<p>If you are experiencing a live threatening experience please call <b>911</b> </p>
				</div></div>
				<p>	<a href="#indexPage" onclick="globalCat='medical' "	class="button button-big button-round button-big button-fill button-green close-panel">Medical</a>			</p>
				<p>	<a href="#indexPage" onclick="globalCat='mental_health' "class="button button-big button-round button-fill  button-green close-panel">Mental Health</a></p>
			</div>

			<div id="panel_safety" class="paneldiv">
				<div class="content-block-title" >Safety</div>
				<p>	<a href="#indexPage" onclick="globalCat='domestic_violence' " class="button button-big button-round button-fill  button-green close-panel">Domestic Violence</a>	</p>
				<p>	<a href="#indexPage" onclick="globalCat='human_trafficking' " class="button button-big button-round button-fill  button-green close-panel">Human	Trafficking</a>	</p>
				<p>	<a href="#indexPage" onclick="globalCat='sex_trafficking' "	class="button button-big button-round button-fill  button-green close-panel">Sex Trafficking</a></p>
			</div>

			<div id="panel_housing"  class="paneldiv">
				<div class="content-block-title" >Housing</div>
				<p>	<a href="#indexPage" onclick="globalCat='shelter' "	class="button button-big button-round button-fill  button-green close-panel">Shelter</a>				</p>
				<p>	<a href="#indexPage" onclick="globalCat='affordable_housing' " class="button button-big button-round button-fill  button-green close-panel">Affordable Housing</a>				</p>
				<p>	<a href="#indexPage" onclick="globalCat='transitional_housing' " class="button button-big button-round button-fill  button-green close-panel">Transitional	Housing</a>				</p>
				<p>	<a href="#indexPage" onclick="globalCat='supportive_Housing' " class="button button-big button-round button-fill  button-green close-panel">Permanent Supportive Housing</a>	</p>
			</div>


			<div id="panel_food" class="paneldiv">
				<div class="content-block-title" >Food</div>
				<p>	<a href="#indexPage" onclick="globalCat='meals' " class="button button-big button-round button-fill  button-green close-panel">Hot meals</a>				</p>
				<p>	<a href="#indexPage" onclick="globalCat='food_closets' " class="button button-big button-round button-fill  button-green close-panel">Food Pantries</a></p>
				<p>	<a href="#indexPage" onclick="globalCat='ebt_food' "	class="button button-big button-round button-fill  button-green close-panel">EBT Food</a>	</p>
				<p>	<a href="#indexPage" onclick="globalCat='ebt_restaurant' "class="button button-big button-round button-fill  button-green close-panel">EBT Restaurant</a>	</p>
	  		    <p>	<a href="#indexPage" onclick="globalCat='wic' "	class="button button-big button-round button-fill  button-green close-panel">WIC</a>	</p>
			</div>

			<div id="panel_healthcare" class="paneldiv">
				<div class="content-block-title" >Healthcare</div>
				<p>	<a href="#indexPage" onclick="globalCat='clinics' "	class="button button-big button-round button-fill  button-green close-panel">Community	Clinics</a>	</p>
				<p>	<a href="#indexPage" onclick="globalCat='std' "	class="button button-big button-round button-fill  button-green close-panel">STD Testing and Treatment</a>	</p>
				<p>	<a href="#indexPage" onclick="globalCat='immunization' "class="button button-big button-round button-fill  button-green close-panel">Immunization</a>	</p>
			</div>

			<div id="panel_mental" class="paneldiv">
				<div class="content-block-title" >Mental Health</div>
				<p>	<a href="#indexPage" onclick="globalCat='crisis' "class="button button-big button-round button-fill  button-green close-panel">Crisis Support</a></p>
				<p>	<a href="#indexPage" onclick="globalCat='amental_health' " class="button button-big button-round button-fill  button-green close-panel">Adult	Mental Health</a></p>
				<p>	<a href="#indexPage" onclick="globalCat='cmental_health' " class="button button-big button-round button-fill  button-green close-panel">Children's Mental Health</a></p>
				<p>	<a href="#indexPage" onclick="globalCat='substance_use' " class="button button-big button-round button-fill  button-green close-panel">Substance	Use</a>	</p>
				<p> <a href="#indexPage" onclick="globalCat='groups' "	class="button button-big button-round button-fill  button-green close-panel">Support Groups</a></p>
			</div>

			<div id="panel_education" class="paneldiv">
				<div class="content-block-title" >Education/Training</div>
				<p>	<a href="#indexPage" onclick="globalCat='vocational' "	class="button button-big button-round button-fill  button-green close-panel">Vocational Training</a>	</p>
				<p>	<a href="#indexPage" onclick="globalCat='school_districts' "	class="button button-big button-round button-fill  button-green close-panel">School Districts</a>	</p>
				<p>	<a href="#indexPage" onclick="globalCat='colleges' "class="button button-big button-round button-fill  button-green close-panel">Community Colleges</a>	</p>
			</div>

			<div id="panel_assistance" class="paneldiv">
				<div class="content-block-title" >Public  Assistance</div>
				<p>	<a href="#indexPage" onclick="globalCat='ebt_cash' "	class="button button-big button-round button-fill  button-green close-panel">EBT Cash</a>	</p>
				<p>	<a href="#indexPage" onclick="globalCat='ebt_food' "	class="button button-big button-round button-fill  button-green close-panel">EBT Food</a>	</p>
				<p>	<a href="#indexPage" onclick="globalCat='ebt_restaurant' "class="button button-big button-round button-fill  button-green close-panel">EBT Restaurant</a>	</p>
	  		    <p>	<a href="#indexPage" onclick="globalCat='wic' "	class="button button-big button-round button-fill  button-green close-panel">WIC</a>	</p>
				</div>

			<p style="margin-top: 80px"><a href="#"	class="button button-round button-fill button-green close-panel">Cancel</a>	</p>

		</div>
	</div>
	<!-- end of left panel -->

	<!--  popover menu    -->
	<div class="popover popover-links">
		<div class="popover-inner">
			<div class="list-block">
				<ul>
					<li><a class="list-button item-link close-popover external"	href="/"> Home</a></li>
					<li><a class="list-button item-link close-popover"href="#favoritesPage">My Favorites</a></li>
				</ul>
			</div>
		</div>
	</div>



	<div class="views">
		<div class="view view-main">

			<!-- Navbar -->
			<div class="navbar no-border">
				<div class="navbar-inner" data-page="frontPage">
					<div class="left sliding"></div>
					<div class="center sliding">SacSOS</div>
					<div class="right "><a href="#" class="open-popover"> <i style="padding: 10px"	class="fa fa-bars fa-lg"></i></a></div>
				</div>

				<div class="navbar-inner cached" data-page="indexPage">
					<div class="left sliding"><a href="index" class="link back"> <iclass="fa fa-chevron-left""></i><span>Back</span></a></div>
					<div class="center sliding">{{title}}</div>
					<div class="right "><a href="#" class="open-popover"> <i style="padding: 10px" class="fa fa-bars fa-lg"></i></a></div>
				</div>

				<div class="navbar-inner cached" data-page="favoritesPage">
					<div class="left sliding"><a href="index" class="link back"> <iclass="fa fa-chevron-left""></i><span>Back</span></a></div>
					<div class="center sliding">My Favorites</div>
					<div class="right "><a href="#" class="open-popover"> <i style="padding: 10px"	class="fa fa-bars fa-lg"></i></a></div>
				</div>

				<div class="navbar-inner cached" data-page="detailsPage">
					<div class="left sliding"><a href="index" class="link back"> <i	class="fa fa-chevron-left"></i><span>Back</span></a></div>
					<div class="center sliding">Details</div>
					<div class="right "><a href="#" class="open-popover"> <i style="padding: 10px"	class="fa fa-bars fa-lg"></i></a></div>
				</div>

				<div class="navbar-inner cached" data-page="commnentPage">
					<div class="left sliding"><a href="index" class="link back"> <i	class="fa fa-chevron-left"></i><span>Back</span></a></div>
					<div class="center sliding">Review</div>
					<div class="right "><a href="#" class="open-popover"> <i style="padding: 10px"class="fa fa-bars fa-lg"></i></a></div>
				</div>

			</div>


			<!-- Pages -->
			<div class="pages navbar-through toolbar-through">

				<!-- front page-->
				<div data-page="frontPage" class="page " ng-controller="FrontPageController">
					<!-- Page content-->
					<div class="page-content">

 
						<img src="img/sacsos_480.png"
							style="width: 100%; background-color:white; " />

						<div class="content-block" style="margin: 20px 0">
							<p>Sac SOS is a continuously-updated list of free and
								low-cost resources available to Sacramento residents</p>
						</div>

						<div class="content-block">
							<p class="buttons-row">
								<input style="padding-left: 10px;" type="text"	placeholder="search" ng-model="search_text"> 
								<a href="#" ng-click="onSearch()" class="gold-button button button-fill ">search</a>
							</p>
						</div>


						<div class="content-block" style="margin: 10px 0">
							<p>	<a href="#indexPage" onclick="globalCat='youth'"class="button button-round button-fill button-big button-green">Youth</a></p>
							<p>	<a href="#" ng-click="globalPanel('panel_emergency')" class="button button-round button-fill button-big button-green open-panel"	data-panel="left">Emergency</a></p>
							<p>	<a href="#" ng-click="globalPanel('panel_safety')" class="button button-round button-fill button-big button-green open-panel"	data-panel="left">Safety</a></p>
							<p>	<a href="#" ng-click="globalPanel('panel_housing')"	class="button button-round button-fill button-big button-green open-panel"data-panel="left">Housing/Shelter</a></p>
							<p>	<a href="#" ng-click="globalPanel('panel_food')"	class="button button-round button-fill button-big button-green open-panel"	data-panel="left">Food</a></p>
							<p>	<a href="#" ng-click="globalPanel('panel_healthcare')"	class="button button-round button-fill button-big button-green open-panel"	data-panel="left">Healthcare</a></p>
							<p>	<a href="#" ng-click="globalPanel('panel_mental')"	class="button button-round button-fill button-big button-green open-panel"	data-panel="left">Mental Health</a>	</p>
							<p>	<a href="#indexPage" onclick="globalCat='legal'"	class="button button-round button-fill button-big button-green">Legal Service</a>	</p>
							<p>	<a href="#indexPage" onclick="globalCat='employment'" class="button button-round button-fill button-big button-green">Employment</a></p>
							<p>	<a href="#" ng-click="globalPanel('panel_education')" class="button button-round button-fill button-big button-green open-panel" data-panel="left">Education/Training</a></p>
							<p>	<a href="#" ng-click="globalPanel('panel_assistance')" class="button button-round button-fill button-big button-green open-panel" data-panel="left">Public  Assistance</a></p>
						</div>
					</div>
				</div>


				<!-- Listing Page -->
				<div data-page="indexPage" class="page cached"
					ng-controller="IndexPageController">

					<!-- Page content-->
					<div class="page-content light">

						<div class="content-block" style="margin: 20px 0">
							<p class="buttons-row">
								<a href="#" ng-click="allListings=false;" class="button" ng-class="allListings ? 'button ':'button active'">Open Today</a>
								<a href="#" ng-click="allListings=true" class="button"	ng-class="allListings ? 'button active':'button '">All</a>
							</p>
						</div>
						<div id="google-map1" style="height: 200px"></div>


						<div class=" list-block media-list " style="margin: 0">

							<ul ng-repeat="resource in resources ">
								<li ng-if="resource.open_today || allListings">
									<a href="#detailsPage" ng-click="onItemClicked(resource)"class="item-link item-content"> 
										<div class="item-inner">
											<div class="item-title-row">
												<div class="item-title">{{resource.label}}	{{resource.name}}</div>
											</div>
											<div class="item-text">		
											   												 
												
												<span ng-if="!resource.rating">(not rated yet)</span>
												<span ng-if="resource.rating==1" style="color:#eac768;"><i class="fa fa-star"></i></span>
												<span ng-if="resource.rating==2" style="color:#eac768;"><i class="fa fa-star"></i><i class="fa fa-star"></i></span>
												<span ng-if="resource.rating==3" style="color:#eac768;"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span>
												<span ng-if="resource.rating==4" style="color:#eac768;"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span>
												&nbsp;												
												 <span ng-if="resource.distance == 0">		HOTLINE								     
													<!-- 	{{resource.phone[0].number}} &nbsp; &nbsp; -->														
											    </span>
											    <span ng-if="resource.distance > 0" class="red">{{resource.distance}} miles</span>		
												&nbsp;		
												<span ng-if="resource.open_today">Open Today <b>{{resource.open_today}}</b></span>
												<span ng-if="! resource.open_today && resource.open_days">Open {{resource.open_days}}</span>
												<br>			
												<span ng-if="resource.distance > 0"> {{resource.address.address_1}}, {{resource.address.city}}</span>
											</div>
										</div>
									</a>
								</li>
							</ul>
						</div>
						<!-- list block media list -->
					</div>
					<!-- content -->
				</div>
				<!-- page -->


				<!-- Favorites Page -->
				<div data-page="favoritesPage" class="page cached"
					ng-controller="FavoritesPageController">

					<!-- Page content-->
					<div class="page-content light">
						<div class="content-block" style="margin: 20px 0">
							<p>These are the listings you marked as favorite</p>
						</div>

						<div class=" list-block media-list " style="margin: 0">

							<ul ng-repeat="resource in resources ">
								<!-- | openFilter : openToday  -->
								<li><a href="#detailsPage"
									ng-click="onItemClicked(resource)"
									class="item-link item-content"> <!-- div class="item-media"><img ng-src="{{resource.posters.thumbnail}}" width="80"></div -->
										<div class="item-inner">
											<div class="item-title-row">
												<div class="item-title">{{resource.name}}</div>
											</div>
											<div class="item-text">
												{{resource.address.address_1}}, {{resource.address.city}}<br>
												Open {{resource.days}} {{resource.hours}}
											</div>
										</div>
								</a></li>
							</ul>
						</div>
						<!-- list block media list -->
					</div>
					<!-- content -->
				</div>
				<!-- page -->


				<!-- Detail Page -->
				<div data-page="detailsPage" class="page cached" ng-controller="DetailPageController">

					<div class="page-content" ng-model="resource">
						<div style="width: 100%; text-align: right; padding: 10px">
							<a href="#" ng-click="onAddToFavorites()" style="margin: 20px">
								<i class="fa fa-thumb-tack fa-lg"></i> &nbsp;<span
								ng-if="resource.isFavorite">Remove From Favorites</span><span
								ng-if="! resource.isFavorite">Add to Favorites</span>
							</a>
						</div>
						<div class="card">

							<div class="card-header">{{resource.name}}</div>
							<div class="card-content">
								<div class="card-content-inner">
									<p>{{resource.description}}</p>
									<p>
										<span ng-if="resource.address.address_1"><b>{{resource.address.address_1}}, {{resource.address.city}} </b></span><br>
										    <span	ng-repeat="phone  in resource.phones ">
													<a	href="tel:{{phone.number}}">{{phone.number}}</a> {{phone.number_type}} <br>
											</span>	
										<br> <a ng-if="resource.website!=null"	href="{{resource.website}}" target='_blank' class="external">{{resource.website}}</a>
									</p>
									<p>Open {{resource.days}} {{resource.hours}}</p>
								</div>

							</div>
						</div>
						<!-- card -->

						<!-- services  -->
						<div class="content-block-title" ng-if="resource.services[0]">Services</div>
						<div ng-repeat="service in resource.services " class="card">
							<div class="card-header">{{service.name}}</div>
							<div class="card-content">
								<div class="card-content-inner">
									<p>{{service.description}}</p>
										    <span	ng-repeat="phone  in service.phones ">
													<a	href="tel:{{phone.number}}">{{phone.number}}</a> {{phone.number_type}}<br>
											</span>	
									<b>How to apply:</b>
									<p>{{service.application_process}}</p>
								</div>
							</div>

						</div>
						<!-- card -->

						<!-- Email this 
						<div style="width: 100%; text-align: right; padding: 10px">
							<a href="mailto:somebody@test.com?subject={{resource.title}}&body=test" style="margin: 20px">
								<i class="fa fa-envelope fa-lg"></i> &nbsp;<span>Email this</span>
							</a>
						</div>
-->
						<!-- REVIEWS  -->
						<div class="card">
							<div class="card-header">Reviews</div>
							<div class="card-content">

								<div class="list">
									<ul ng-repeat="review in reviews ">
										<li><div class="item-content">
											<span ng-if="review.rating==1" style="color:#eac768;"><i class="fa fa-star"></i></span>
											<span ng-if="review.rating==2" style="color:#eac768;"><i class="fa fa-star"></i><i class="fa fa-star"></i></span>
											<span ng-if="review.rating==3" style="color:#eac768;"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span>
											<span ng-if="review.rating==4" style="color:#eac768;"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span>
											
										<br>{{review.body}}</div></li>
									</ul>
								</div>
								<div class="card-footer">
									<a class="link" ng-click="onreviewClicked(resource)"
										href="#reviewPage">Write a Review</a>
								</div>

							</div>

						</div>
						<!-- card -->

					</div>
				</div>

				<!-- review Page -->
				<div data-page="reviewPage" class="page cached"
					ng-controller="ReviewPageController">
					<!-- Page content-->
					<div class="page-content">
						<form name="userForm" ng-submit="submitForm()">
							<input type=hidden name=id value="{{review.resource_id}}" /> <input
								type=hidden name=type value="{{review.resource_type}}" />

							<div class="content-block">We encourage you to write a review. Also, if you notice that our listing is incorrect, please make sure to check the box below. </div>
							<div class="list-block">
								<ul>
									<li>
										<div class="item-content">
											<div class="item-inner">
												<!-- div class="item-title label"> review</div-->
												<div class="item-input">
													<textarea placeholder="your review goes here"
														ng-model="review.body"></textarea>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>



							<div class="content-block">
								<div>You can rate this organization</div>
								<p class="buttons-row">
									<a href="#" ng-click="onRate(1)" class="button"	ng-class="review.rating==1 ? 'button active':'button'"><i class="fa fa-star"></i></a> 
									<a href="#" ng-click="onRate(2)" class="button"	ng-class="review.rating==2 ? 'button active':'button'"><i class="fa fa-star"></i>
																																		  <i class="fa fa-star"></i></a>
									<a href="#"	ng-click="onRate(3)" class="button"	ng-class="review.rating==3 ? 'button active':'button'"><i class="fa fa-star"></i>
																																		  <i class="fa fa-star"></i>
																																		  <i class="fa fa-star"></i></a> 
									<a href="#" ng-click="onRate(4)" class="button"	ng-class="review.rating==4 ? 'button active':'button'"><i class="fa fa-star"></i>
																																		<i class="fa fa-star"></i>
																																		<i class="fa fa-star"></i>
																																		<i class="fa fa-star"></i></a>
								</p>
							</div>
							<div class="content-block">
								<label style="font-size: 15px"><input
									style="width: 18px; height: 18px;" type="checkbox"
									name='needs_updating'>This listing is out of date</label>
							</div>

							<div class="content-block">
								<div class="row">
									<div class="col-50">
										<input type="submit" class="button button-big active"
											value="Submit" />
									</div>
									<div class="col-50">
										<a href="#" class="button button-big link back">Cancel</a>
									</div>
								</div>
							</div>
						</form>
					</div>
					<!-- page-content -->
				</div>
				<!-- review page -->

			</div>	<!-- end of pages -->

			<!-- language toolbar -->
			<div class="toolbar">
				<div class="toolbar-inner">				
					<div id="google_translate_element"></div>
					<script type="text/javascript">
					function googleTranslateElementInit() {
	  					new google.translate.TranslateElement(
	  							{
	  								pageLanguage: 'en', 
	  								includedLanguages: 'ar,en,es,fa,hmn,hy,ko,lo,ru,tl,vi,zh-CN,zh-TW', 
	  								layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL, 
	  								autoDisplay: false
	  							}, 'google_translate_element');
					}
					</script>
					<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>					
					
				</div><!-- toolbar inner -->
				
			</div><!-- end of language toolbar -->


		</div>
</body>
</html>